@model WebRauTNT.Models.DonHangViewModel
@{ ViewBag.Title = "Edit";
   Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; 
 }

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">

            <h2 style=" margin-top:20px;">Sửa đơn hàng</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Đơn hàng</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.MaDH)

                    <div class="form-group">
                        <strong class="control-label col-md-2">Trạng thái giao hàng</strong>
                        <div class="col-md-10">
                            <div class="checkbox">
                                @if (Model.TrangThaiGiaoHang == true)
                                {
                                    <select class="list-box tri-state" id="TrangThaiGiaoHang" name="TrangThaiGiaoHang">
                                        <option selected="selected" value="true">Đã giao</option>
                                        <option value="false">Chưa giao</option>
                                    </select> }
                                                    else
                                                    {
                                    <select class="list-box tri-state" id="TrangThaiGiaoHang" name="TrangThaiGiaoHang">
                                        <option value="true">Đã giao</option>
                                        <option selected="selected" value="false">Chưa giao</option>
                                    </select>}

                            </div>
                        </div>
                    </div>

@*                    <div class="form-group">
                        <strong class="control-label col-md-2">Ngày đặt</strong>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" data-val="true" data-val-date="The field NgayDat must be a date." id="NgayDat" name="NgayDat" type="date" value="@DateTime.ParseExact(@Model.NgayDat.ToString(), "M/d/yyyy hh:mm:ss tt", System.Globalization.CultureInfo.InvariantCulture).ToString("yyyy-MM-dd")">
                            @Html.ValidationMessageFor(model => model.NgayDat, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                    @*                <div class="form-group">
                            <strong class="control-label col-md-2">Ngày giao</strong>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" data-val="true" data-val-date="The field NgayGiao must be a date." id="NgayGiao" name="NgayGiao" type="date" value="@DateTime.ParseExact(@Model.NgayGiao.ToString(), "M/d/yyyy hh:mm:ss tt", System.Globalization.CultureInfo.InvariantCulture).ToString("yyyy-MM-dd")">
                                @Html.ValidationMessageFor(model => model.NgayGiao, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

@*                    <div class="form-group">
                        <strong class="control-label col-md-2">Khách hàng</strong>
                        <div class="col-md-10">
                            @Html.DropDownList("MaKH", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MaKH, "", new { @class = "text-danger" })
                            
                        </div>
                    </div>*@

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Cập nhật" class="btn btn-info" />
                            <a class="btn btn-info" href='@Url.Action("Index", "DonHang")' style="margin:10px 0px;">
                                Trở về
                            </a>
                        </div>
                    </div>
                </div>}
                
            
            <div class="form-group">
                        <strong class="control-label col-md-2">Tổng tiền</strong>
                        <div class="col-md-10">
                            @Model.TongTien
                            
                        </div>
                    </div>
        </div>
    </main>
</div>

@*<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4" style=" margin-top:20px;">
            <h2>Thông tin chi tiết</h2>
            <div>
                <h4>Đơn hàng</h4>
                <hr />
                <table class="table table-bordered table-dark">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Tên sản phẩm
                            </th>
                            <th>
                                Số lượng
                            </th>
                            <th>
                                Số tiền
                            </th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        @foreach (var item in Model.CTDH)
                        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SanPham.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soluong)
                </td>
                <td>
                    @String.Format("{0:0,0}", item.Gia)
                </td>
            </tr>}
                    </tbody>
                </table>
                <dl class="dl-horizontal" style="display:flex;flex-wrap:wrap">
                    <dt class="col-md-2">
                        Trạng thái giao hàng
                    </dt>
                    <dd class="col-md-10">
                        @if (Model.DonHang.TrangThaiGiaoHang == true)
                        {
            <label class="list-box tri-state" id="TrangThaiGiaoHang" name="TrangThaiGiaoHang">
                <a value="true">Đã giao</a>
            </label> }
        else
        {
<label class="list-box tri-state" id="TrangThaiGiaoHang" name="TrangThaiGiaoHang">
    <a value="true">Chưa giao</a>
</label>}
                    </dd>

                    <dt class="col-md-2">
                        Ngày đặt
                    </dt>
                    <dd class="col-md-10">
                        @Html.DisplayFor(model => model.DonHang.NgayDat)
                    </dd>

                    <dt class="col-md-2">
                        Tên khách hàng
                    </dt>
                    <dd class="col-md-10">
                        @Html.DisplayFor(model => model.DonHang.AspNetUser.Name)
                    </dd>

                    <dt class="col-md-2">
                        Email
                    </dt>
                    <dd class="col-md-10">
                        @Html.DisplayFor(model => model.DonHang.AspNetUser.Email)
                    </dd>

                    <dt class="col-md-2">
                        Số điện thoại
                    </dt>
                    <dd class="col-md-10">
                        @Html.DisplayFor(model => model.DonHang.AspNetUser.PhoneNumber)
                    </dd>

                    <dt class="col-md-2">
                        Địa chỉ
                    </dt>
                    <dd class="col-md-10">
                        @Html.DisplayFor(model => model.DonHang.AspNetUser.Address)
                    </dd>
                    <br />
                    <dt class="col-md-2">
                        Tổng tiền
                    </dt>

                    <dd class="col-md-10">
                        @String.Format("{0:0,0}", Model.DonHang.TongTien)
                    </dd>
                </dl>

            </div>
            <p>
                @Html.ActionLink("Sửa", "Edit", new { id = Model.DonHang.MaDH }, new { @class = "btn btn-warning" })
                <a class="btn btn-info" href='@Url.Action("Index", "DonHang")' style="margin:10px 0px;">
                    Trở về
                </a>
                @Html.ActionLink("Xuất hóa đơn", "Index", "Report", new { id = Model.DonHang.MaDH }, new { @class = "btn btn-success" })
            </p>
        </div>
    </main>
</div>*@

